<!DOCTYPE html>
<html ng-app="dispatchApp">
<head>
    <title>test</title>
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="dispatchCtrl">

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dispatch</a>
            </div> <!-- navbar-header -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a href="" ng-click="openRegisterModal();">{{ "REGISTER" | translate }}</a></li>
                    <li ng-if="!loggedIn"><a href="" ng-click="openLoginModal();">{{ "LOGIN" | translate }}</a></li>
                    <li ng-if="loggedIn">
                        <a href="#/profile/{{userInfo.username}}">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ userInfo.username }}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="openLangModal();">Language</a></li>
                            <li ng-if="loggedIn" role="separator" class="divider"></li>
                            <li ng-if="loggedIn"><a href="" ng-click="logout();">{{ "LOGOUT" | translate }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> <!-- container-fluid -->
    </nav>
</div> <!-- container -->

<div ng-switch on="currentUrl">
    <div ng-switch-when="home"><div ng-include="'homepage.html'"></div></div>
    <div ng-switch-when="profile"><div ng-include="'profile.html'"></div></div>
</div>

</body>
</html>