<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type here...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">{{ "SEARCH" | translate }}</button>
                </span>
            </div>
        </div>

        <div class="col-md-12">
            <table id="joblist" class="table">
                <thead>
                    <tr>
                        <th>{{ "COMPANY" | translate }}</th>
                        <th>{{ "DESCRIPTION" | translate }}</th>
                        <th>{{ "WORKDAY" | translate }}</th>
                        <th>{{ "PAY" | translate }}</th>
                        <th>{{ "POSITION" | translate }}</th>
                        <th>{{ "DATE" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>遊戲橘子</th>
                        <th>電玩展員工</th>
                        <th><span style="font-size: 1.5em;" class="glyphicon glyphicon-time"></span></th>
                        <th>150元/ 小時</th>
                        <th>台北世貿二館</th>
                        <th>9/13</th>
                    </tr>
                    <tr>
                        <th>遊戲橘子</th>
                        <th>電玩展員工</th>
                        <th><span style="font-size: 1.5em;" class="glyphicon glyphicon-time"></span></th>
                        <th>150元/ 小時</th>
                        <th>台北世貿二館</th>
                        <th>9/13</th>
                    </tr>
                    <tr>
                        <th>遊戲橘子</th>
                        <th>電玩展員工</th>
                        <th><span style="font-size: 1.5em;" class="glyphicon glyphicon-time"></span></th>
                        <th>150元/ 小時</th>
                        <th>台北世貿二館</th>
                        <th>9/13</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
