<div class="container" ng-controller="homepageCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type here...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">{{ "SEARCH" | translate }}</button>
                    <button ng-if="userInfo.type === 'COMPANY'" class="btn btn-default btn-post" type="button">
                        {{ "POST" | translate }}
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-12">
            <table id="joblist" class="table">
                <thead>
                    <tr>
                        <th>{{ "COMPANY" | translate }}</th>
                        <th>{{ "DESCRIPTION" | translate }}</th>
                        <th>{{ "WORKDAY" | translate }}</th>
                        <th>{{ "PAY" | translate }}</th>
                        <th>{{ "POSITION" | translate }}</th>
                        <th>{{ "DATE" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="case in cases track by case._id">
                        <th><a href="#/profile/{{case.ownerName}}">{{case.company}}</a></th>
                        <th><a href="#/case/{{case._id}}">{{case.title}}</a></th>
                        <th><span style="font-size: 1.5em;" class="glyphicon glyphicon-time"></span></th>
                        <th>{{case.salary.payment | currency: '': 0}} {{case.salary.unit | translate}}</th>
                        <th>{{case.position}}</th>
                        <th>{{case.updated | dateobj: "MM/dd"}}</th>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-default">{{ "MORE" | translate }}</button>
        </div> <!-- case list col -->
    </div> <!-- row -->
</div>
