<div class="container" ng-controller="profileCtrl">
    <div class="row">
        <div class="col-md-3">
            <div id="profile-headshot" ><img ng-src="{{userInfo.profile.headshotUrl}}"></div>
            <file-input ng-if="isCurrentUser" on-change="uploadHeadshot(file)">{{ "UPLOAD_PICTURE" | translate }}</file-input>
        </div>
        <div class="col-md-9">
            <div ng-if="userInfo.type == 'PERSONAL'"><h1>{{ userInfo.profile.firstName + ' ' + userInfo.profile.lastName }}</h1></div>
            <div ng-if="userInfo.type == 'COMPANY'"><h1>{{ userInfo.profile.companyName }}</h1></div>
            <div><h3>{{ userInfo.username }}</h3></div>
            <hr>
            <div>
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="mailto:{{ userInfo.email }}">{{ userInfo.email }}</a>
            </div>
            <div>
                <span class="glyphicon glyphicon-time"></span>
                Joined on {{ userInfo.createDate | dateobj: "MM/dd/yyyy" }}
            </div>
        </div>
    </div>
</div>
