<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="close();"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
			<label>{{ "USERNAME" | translate }}</label>
			<input type="text" class="form-control" placeholder="{{ 'USERNAME' | translate }}">
		</div>
		<div class="form-group">
			<label>{{ "PASSWORD" | translate }}</label>
			<input type="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}">
		</div>
		<div class="form-group">
			<label>{{ "CONFIRM_PW" | translate }}</label>
			<input type="password" class="form-control">
		</div>
	</div> <!-- container-fluid -->
</div>
<div class="modal-footer">
	<button class="btn btn-default">{{ "REGISTER" | translate }}</button>
</div>
