@import "bootstrap";

[class*="col-"] {
    margin-bottom: 15px;
}

a:hover, a:focus {
    outline: none;
}

#joblist {
    margin-top: 20px;
}

.modal-header {
    min-height: 42px;

    .close {
        margin-top: -18px;

        span {
            font-size: 2em;
        }
    }
}