@import "bootstrap";

// [class*="col-"] {
//     margin-bottom: 15px;
// }

a:hover, a:focus {
    outline: none;
}

input[type="textarea"] {
    resize: none;
}

// form-group
.form-group .input-group {
    margin: 0;
}

// select-emulation
.form-group {
    select-emulation {
        display: block;
        > .btn-group {
            width: 100%;
            > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
                width: 100%;
                padding-right: 38px;
                border-radius: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            > .btn:nth-child(2) {
                position: absolute;
                right: 0;
                z-index: 10;
            }
        }
    }
}

#joblist {
    margin-top: 20px;
}

.modal-header {
    min-height: 42px;

    .close {
        margin-top: -18px;

        span {
            font-size: 2em;
        }
    }
}

// header
#header-headshot-icon {
    height: 18px;
    max-width: 18px;
}

// profile template
#profile-headshot {
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
    background-color: rgb(200, 200, 200);
    margin-bottom: 5px;

    > img {
        display: block;
        margin: auto;
        height: 100%;
        max-width: 100%;
    }
}

.upload-headshot-input {
    + .hidden-file-input {
        display: none;
    }
}

// case edit template
.form-group {
    table.ng-valid-time, table.ng-invalid-time, table.for-align {
        display: inline-table;

        span.span-for-align {
            height: 34px;
            display: block;
            padding: 6px 12px;
        }
    }
}

.button-icon {
    font-size: 1.4em;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }

    &.add-icon {
        color: rgb(92, 184, 92);
        &:hover {
            color: rgb(71, 164, 71);
        }
    }
    &.remove-icon {
        color: rgb(217, 83, 79);
        &:hover {
            color: rgb(210, 50, 45);
        }
    }
}
